@model  UI.Models.IndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-wrapper">
    <div id="mainContent" class="container pt-4">
        <div>
            <h2>Products</h2>
            @{ Html.RenderPartial("ComponentsPartial", Model.Component); }
        </div>
        <div>
            <h2>Recently viewed products</h2>
            @{
                if (Model.ViewedList != null)
                {
                    Html.RenderPartial("ViewedComponentsPartial", Model.ViewedList);
                }
            }
        </div>
    </div>
</div>
