@model  IEnumerable<UI.Models.ComponentViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-wrapper">
    <div class="container pt-4">
        @{ Html.RenderPartial("ComponentsPartial", Model); }
    </div>
</div>
