@{
    Layout = "~/Views/Shared/_AccountManagerLayout.cshtml";
}

<div class="dashboard-wrapper">
    <div class="container pt-4">
        <div>
            <h1>Account Manager</h1>
        </div>
    </div>
</div>
